*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald", sans-serif;
}
/* banner section start */
.banner{
width: 1320px;
height: 600px;
margin: 0 auto;
margin-top: 20px;
background-image:linear-gradient(180.00deg, rgba(7, 2, 17, 0.856),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 200px;
}
.banner-text{
    text-align: center;
}
.banner-text h4{
color: rgb(255, 255, 255);
font-size: 22px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
}
.banner-text h1{
color: rgb(255, 255, 255);
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
}
/* banner section end */
/* 65-off-content start */
.off-container{
    margin-bottom: 200px;
}
.off-content{
    width: 802px;
    height: 735px;
    margin: 0 auto;
}
.off-text{
    text-align: center;
    padding-top: 10px;
}
.off-text h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
}
.off-text p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
}
.off-text h2{
color: rgb(7, 2, 17);
font-size: 38px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
}
/* 65-off-content end */
/* banner-2 section start */
.banner-2-container{
    margin-bottom: 200px;
}
.banner-2-content{
width: 1320px;
height: 600px;
margin: 0 auto;
background-image:linear-gradient(90.00deg, rgba(7, 2, 17, 0.521),rgba(7, 2, 17, 0) 100%),url(/images/Vectorrr.png);
display: flex;
}
.banner-2-text{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 150px;
}
.banner-2-text h1{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 78px;
letter-spacing: 11%;
text-align: left;
}
.banner-2-text p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.banner-2-img{
    text-align: center;
    width: 50%;
    height: 100%;
}
.banner-2-img img{
    width: 340px;
    height: 468px;
    padding-top: 80px;
}
/* time and date section start */
.time-container{
    margin-bottom: 200px;
}
.time-content{
 width: 1320px;
height: 600px;
margin: 0 auto;
background-color: #ffecece7;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.time-text h3{
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.time-text span{
    color: red;
}
.a-tag{
    margin-top: 30px;
}
.a-tag a{
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: 2px solid ;
    color: white;
    text-transform: uppercase;

}
/* time and date section end */